@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #bcd5d1;
}

.nav-wrapper li {
  margin-right: 1rem;
}

.nav-wrapper .title {
  margin-left: 1rem;
  font-size: 2rem;
}

nav {
  background-color: #5a5c51;
}

.header {
  background-color: #1d2120;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  padding-bottom: 2rem;
}

.title h1 {
  font-size: 2rem;
}

.title h4 {
  font-size: 1.25rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #1d2120;
  margin-top: 2rem;
  align-items: center;
  height: 13rem;
}

.search-form input {
  color: white;
  font-family: "Ubuntu", sans-serif;
}

input:focus {
  border-bottom: 1px solid #5a5c51 !important;
  -webkit-box-shadow: 0 1px 0 0 red !important;
  -moz-box-shadow: 0 1px 0 0 red !important;
  box-shadow: 0 2px 0 0 #5a5c51 !important;
}

.search-form h5 {
  margin-left: 2rem;
  align-self: flex-start;
}

.btn {
  align-self: flex-end;
  margin-right: 2rem;
  background-color: #ba9077;
}

.btn:hover {
  background-color: #ddac90;
}

.btn:visited {
  background-color: #ba9077;
}

.input-field {
  width: 80%;
}

.book-results {
  background-color: #1d2120;
  margin-top: 2rem;
  color: white;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-results h5 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.book {
  display: flex;
  flex-direction: column;
  background-color: #5a5c51;
  margin-bottom: 1rem;
  width: 90%;
  padding: 1rem;
  object-fit: contain;
}

.no-results {
  align-self: center;
}

.book-details {
  display: flex;
  flex-direction: row;
}

img {
  object-fit: contain;
  align-self: flex-start;
  max-height: 100%;
}

.book-title {
  margin-bottom: 0rem;
}
.book-text {
  flex: 1 1 auto;
  margin-left: 1rem;
}

.book-authors {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.book-btn {
  margin-top: 0.5rem;
  align-self: flex-end;
}
