@import url("https://fonts.googleapis.com/css?family=Ubuntu|Inconsolata");

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #5a5c51;
  height: 5rem;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  background-color: #bcd5d1;
  box-sizing: border-box;
}

.nav-wrapper li {
  margin-right: 1rem;
}

.nav-wrapper .title {
  margin-left: 1rem;
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
}

nav {
  background-color: #5a5c51;
}

.header {
  background-color: #1d2120;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  padding-bottom: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.title h1 {
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
}

.title h4 {
  font-size: 1.25rem;
  font-family: "Inconsolata", monospace;
  font-style: italic;
}

.search-form {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #1d2120;
  margin-top: 2rem;
  align-items: center;
  min-height: 15rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.search-form input {
  color: white;
  font-family: "Inconsolata", monospace;
}

input:focus {
  border-bottom: 1px solid #5a5c51 !important;
  -webkit-box-shadow: 0 1px 0 0 red !important;
  -moz-box-shadow: 0 1px 0 0 red !important;
  box-shadow: 0 2px 0 0 #5a5c51 !important;
}

.search-form h5 {
  margin: 2rem;
  align-self: flex-start;
  font-size: 1.25rem;
}

.btn {
  align-self: flex-end;
  margin-right: 2rem;
  background-color: #a9bfbc;
  color: black;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-family: "Inconsolata", monospace;
}

.btn:visited {
  background-color: #bcd5d1;
}

.btn:hover {
  background-color: #bcd5d1;
  top: 2px;
}

.btn:active {
  background-color: #bcd5d1;
}

.btn:focus {
  background-color: #262b2a;
  color: white;
}

.input-field {
  width: 80%;
}

.book-results {
  background-color: #1d2120;
  opacity: 1;
  margin-top: 2rem;
  color: white;
  min-height: 10rem;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.book-results h5 {
  margin: 2rem;
  align-self: flex-start;
  font-size: 1.25rem;
}

.book {
  display: flex;
  flex-direction: column;
  background-color: #5a5c51;
  margin-bottom: 1.5rem;
  width: 90%;
  padding: 1rem;
  object-fit: contain;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.book:hover {
  background-color: #636659;
}

.no-results {
  align-self: center;
  margin-bottom: 5rem;
}

.book-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

img {
  object-fit: contain;
  align-self: flex-start;
  max-height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: 2px black inset;
  border-radius: 0.33rem;
}

img:hover {
  position: relative;
  bottom: 2px;
}
.book-title {
  margin-bottom: 0rem;
  text-decoration: underline;
}
.book-text {
  flex: 1 1 auto;
  margin-left: 1rem;
  background-color: #1d2120;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-family: "Ubuntu", sans-serif;
}

.book-text:hover {
  position: relative;
  bottom: 2px;
  background-color: #262b2a;
}

.book-authors {
  font-style: italic;
  margin-bottom: 1.5rem;
}

.book-btn {
  margin-top: 1rem;
  align-self: flex-end;
}

@media screen and (max-width: 600px) {
  .book-details {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  img {
    align-self: center;
    margin-bottom: 1.5rem;
  }

  .book-text {
    margin-left: 0;
    font-size: 1.25rem;
  }

  footer {
    font-size: 0.8rem;
  }

  .no-results {
    font-size: 1.33rem;
  }

  .book-btn {
    align-self: center;
    margin-left: 2rem;
  }

  .nav-wrapper .title {
    margin-left: 1rem;
    font-size: 1.25rem;
    font-family: "Inconsolata", monospace;
  }
}
